<div class="container mt-5 p-3" style="width:80vw;border:1px solid black;">
    <div class="row">
        <div class="col-md-8">
            <div class="container p-4">
                <form [formGroup]="formdata" (ngSubmit)="submit()">
                    <div class="mb-3">
                        <label for="id1" class="form-label">Category Name</label>
                        <input type="text" class="form-control" id="id1" formControlName="category">
                    </div>
                    <div class="mb-3">
                        <label for="id2" class="form-label">Description</label>
                        <textarea class="form-control" id="id2" rows="10" formControlName="description"></textarea>
                    </div>
                </form>
            </div>
        </div>

        <!-- form2 -->
        <div class="col-md-4">
            <div class="container p-4">
                <form [formGroup]="formdata2" (ngSubmit)="submit()">
                    <h4>Parent Category</h4>
                    <mat-form-field>
                        <mat-select name="category" formControlName="parent_category">
                            <mat-option *ngFor="let item of categories" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                
                    <!-- drag image -->
                    <div class="mt-3 custom-border" formControlName="Image">
                        <ngx-dropzone (change)="onSelect($event)" id="_nghost-ivm-c77" >
                          <!-- <ngx-dropzone-label >Drop Images!</ngx-dropzone-label > -->
                          <ngx-dropzone-image-preview  ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" >
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                          </ngx-dropzone-image-preview>
                        </ngx-dropzone>
                      </div><br>
                
                    <button mat-raised-button color="accent" type="submit">Create Sub_Caegory</button>

                </form>

            </div>
        </div>
        
    </div> 
</div>
<router-outlet></router-outlet>